<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>googleAuth身份验证</title>
    <link href="layui/css/layui.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>

    <div class="layui-layout layui-layout-admin">


        <!-- 左侧区域 -->
        <div class="layui-side layui-bg-black left-menu">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="test">
                    <li class="layui-nav-item  layui-this"><a href="#">全部</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" class="add-btn">添加密钥</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" class="qrcode-btn">识别二维码</a></li>
                </ul>
            </div>
        </div>
        <!-- 左侧区域 -->

        <!-- 内容主体区域 -->
        <div class="layui-body" id="view">
            <!-- 自动渲染数据 -->
        </div>
        <!-- 内容主体区域 -->

        <!-- 底部固定区域 -->
        <div class="layui-footer">
            <span><帮助: 点击数字复制验证码></span>
            <!-- 点击数字,或者使用alt+数字复制验证码 -->
        </div>
        <!-- 底部固定区域 -->
    </div>

    <!-- 添加/编辑框 -->
    <div class="edit_box">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="name" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="text" name="password" required lay-verify="required" placeholder="请输入密码"
                        autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">密码</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">更新时间</label>
                <div class="layui-input-block">
                    <input type="text" name="max" required lay-verify="required" placeholder="请输入更新时间"
                        autocomplete="off" class="layui-input" value="30">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="index">
                    <button class="layui-btn" lay-submit lay-filter="submit_btn">保存</button>
                </div>
            </div>

        </form>
    </div>
    <!-- 添加/编辑框 -->

    <canvas id="qrcanvas" style="display:none;"></canvas>
    <script src="./layui/layui.js"></script>
    <script>

        var items = []; //数据
        var config_rev = ""; //配置版本号
        var timer = []; //定时器


        //JS 
        layui.use(['element', 'layer', 'util', 'form', 'laytpl'], function () {
            var element = layui.element
                , layer = layui.layer
                , util = layui.util
                , laytpl = layui.laytpl
                , form = layui.form
                , $ = layui.$;



            // 设置模版标签
            laytpl.config({
                open: '<%',
                close: '%>'
            });
            var getTpl = item.innerHTML;
            var view = document.getElementById('view');
            // 渲染
            function render() {
                laytpl(getTpl).render(items, function (html) {
                    view.innerHTML = html;
                    loading();
                });

            }
   
            // 进度条滚动
            function loading() {
                $(".layui-progress-bar").each(function (i, e) {
                    // 进度条渲染
                    var index = $(e).parents(".layui-card").data('index');
                    // console.log(items[index]);
                    if (timer[index]) {
                        clearInterval(timer[index]);
                    }

                    var pwd = items[index].password;
                    var max = items[index].max;                   

                    // 设置定时器
                    timer[index] = setInterval(function () {
                        var num = new OTPAuth.TOTP({
                            algorithm: 'SHA1',
                            digits: 6,
                            period: max,
                            secret: OTPAuth.Secret.fromBase32(pwd)
                        }).generate();
                        $(e).parents(".layui-card").find('.num').text(num);

                        var now = new Date().getTime();
                        var nowtime = Math.ceil(now / 1000);
                        var left_time = Math.ceil(max - nowtime % max);
                        var index = $(e).parents(".layui-card").data('index');
                        element.progress('loading' + index, left_time / max * 100 + '%');
                        // console.log(left_time);
                    }, 500);

                });
            }

            // 初始化
            // utools.db.remove('config');
            loadConfig();

            // 从数据库加载配置
            function loadConfig() {
                var result = utools.db.get("config");
                if (result) {
                    config_rev = result._rev;
                    // 渲染模版数据
                    result_data = JSON.parse(result.data);
                    if (result_data) {
                        items = result_data;
                        render();
                    } else {
                        // 配置初始化  
                        saveConfig();
                    }
                }
            }

            // 保存配置到数据库
            function saveConfig() {
                // 保存配置
                utools.db.put({
                    _id: "config",
                    data: JSON.stringify(items),
                    _rev: config_rev
                })
                render();
            }


            // 复制验证码
            $(document).on('click', '.copy-btn', function (e) {
                e.preventDefault();
                var num = $(this).parents(".layui-elem-quote").find('.num').text();
                utools.copyText(num)
                layer.msg("copy success:" + num);
            });


            // 删除
            $(document).on('click', '.del-btn', function (e) {
                e.preventDefault();
                var index = $(this).parents(".layui-card").data('index');
                layer.confirm('确认要删除?', function (i) {
                    //删除数组中的元素
                    delete items[index]
                    items = items.filter(Boolean);
                    saveConfig()
                    layer.close(i);
                });
            });

            // 编辑
            $(document).on('click', '.edit-btn, .add-btn', function (e) {
                e.preventDefault();
                // 清空/填充数据
                if ($(this).hasClass("add-btn")) {
                    $('.edit_box input[name="index"]').val('');
                    $('.edit_box input[name="name"]').val('');
                    $('.edit_box input[name="password"]').val('');
                    $('.edit_box input[name="max"]').val('30');
                } else {
                    var index = $(this).parents(".layui-card").data("index");
                    $('.edit_box input[name="index"]').val(index);
                    $('.edit_box input[name="name"]').val(items[index].name);
                    $('.edit_box input[name="password"]').val(items[index].password);
                    $('.edit_box input[name="max"]').val(items[index].max);
                }
                layer.open({
                    type: 1,
                    closeBtn: 1, //不显示关闭按钮
                    anim: 2,
                    title: "编辑",
                    shadeClose: true, //开启遮罩关闭
                    content: $('.edit_box'),
                });

            });


            //监听提交
            form.on('submit(submit_btn)', function (data) {
                index = data.field.index;
                if (index) {
                    items[index] = data.field;
                } else {
                    items.push(data.field);
                }
                saveConfig()
                layer.closeAll();
                layer.msg("保存成功");
                // 菜单选中还原
                $('.layui-nav-item').eq(0).addClass('layui-this').siblings().removeClass('layui-this');
                return false;
            });


            // 识别二维码
            $("body").append('<canvas id="qrcanvas" style="display:none;"></canvas>');
            $(".qrcode-btn").click(function (e) {
                e.preventDefault();
                utools.hideMainWindow()
                utools.screenCapture(base64Str => {
                    // 显示主窗口
                    utools.showMainWindow();
                    var c = document.getElementById("qrcanvas");
                    var ctx = c.getContext("2d");
                    var img = new Image();
                    img.src = base64Str;
                    img.onload = function () {
                        $("#qrcanvas").attr("width", img.width)
                        $("#qrcanvas").attr("height", img.height)
                        ctx.drawImage(img, 0, 0, img.width, img.height);
                        var imageData = ctx.getImageData(0, 0, img.width, img.height);
                        const code = jsQR(imageData.data, imageData.width, imageData.height, {
                            inversionAttempts: "dontInvert",
                        });
                        console.log(code)
                        // 解析二维码密码
                        var name = '';
                        var pwd = '';
                        if (code) {
                            try {
                                var name = code.data.match(/totp\/([\S]{1,})[:\?]/i)[1];
                            } catch (error) {
                                var name = "undefined"
                            }
                            
                            try {
                                var pwd = code.data.match(/secret=([\S]{8,256})&/i)[1];                                
                            } catch (error) {
                                layer.alert("未成功识别二维码, 错误原因:" . err.message, { title: "提示", icon: 2 });
                                return ;
                            }
                            console.log(name, pwd)
                        }

                        if (pwd) {
                            items.push({ "name": name, "password": pwd, "max": 30 });
                            saveConfig()
                            layer.msg("识别成功");
                        } else {
                            layer.alert("未成功识别二维码", { title: "提示", icon: 2 });
                        }
                        // 菜单选中还原
                        $('.layui-nav-item').eq(0).addClass('layui-this').siblings().removeClass('layui-this');
                    };
                })

            });




        });
    </script>
    <script src="./js/otpauth.js"></script>
    <script src="./js/jsQR.js"></script>

    <!--  渲染列表数据 -->
    <script id="item" type="text/html">
        <%#  if(d.length === 0){ %>
        <div style="padding: 15px;">           
                <blockquote class="layui-elem-quote">                    
                     <h3>添加说明:</h3>
                     <pre class="layui-code" lay-title="JavaScript" lay-skin="notepad">
                        otpauth://totp/JumpServer:xxx?secret=AAAAAAAAAAAAAAAA&issuer=JumpServer
                    </pre>
                    <p>
                        如上: AAAAAAAAAAAAAAAA为密码
                    </p>
                </blockquote>
        
        </div>
        <%#  }else{ %> 
            <%#  layui.each(d, function(index, item){ %>
                <div class="layui-card" data-index="<% index %>">
                    <div class="layui-card-header"><% item.name %></div>
                    <div class="layui-card-body item<% item.id %>">
                        <div class="layui-elem-quote">
                            <p class="num copy-btn">000000</p>
                            <div class="layui-btn-group btns">
                                <button type="button" class="layui-btn layui-btn-sm del-btn" data-type="loading"
                                    title="删除"><i class="layui-icon">&#xe640;</i></button>
                                <button type="button" class="layui-btn layui-btn-sm edit-btn" title="编辑"><i
                                        class="layui-icon">&#xe642;</i></button>
                                <button type="button" class="layui-btn layui-btn-sm copy-btn" title="复制"><i
                                        class="layui-icon">&#x1005;</i></button>
                            </div>
                            <!-- <span class="copy-span">alt +  <% index+1 %> 复制</span> -->
                        </div>
                        <div class="layui-progress layui-progress-big" lay-filter="loading<% index %>">
                            <div class="layui-progress-bar" data-id="<% index %>" data-max="<% item.max %>" data-val="<% item.time %>" lay-percent="<% item.time %>%" data-type="loading"></div>
                        </div>
                    </div>
                </div>     
                <%#  }); %>
        <%#  } %> 
        <div style="height: 50px;"></div>
    </script>
</body>

</html>